/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes button {
  0% {
    -webkit-box-shadow: 0 0 1.066667rem 0.333333rem #fff;
            box-shadow: 0 0 1.066667rem 0.333333rem #fff; }
  100% {
    -webkit-box-shadow: 0 0 0.266667rem 0.133333rem #fff;
            box-shadow: 0 0 0.266667rem 0.133333rem #fff; } }

@keyframes button {
  0% {
    -webkit-box-shadow: 0 0 1.066667rem 0.333333rem #fff;
            box-shadow: 0 0 1.066667rem 0.333333rem #fff; }
  100% {
    -webkit-box-shadow: 0 0 0.266667rem 0.133333rem #fff;
            box-shadow: 0 0 0.266667rem 0.133333rem #fff; } }

.disabled {
  pointer-events: none; }

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(-0.05333rem);
            transform: translate(-0.05333rem); }
  100% {
    -webkit-transform: translate(0.05333rem);
            transform: translate(0.05333rem); } }

@keyframes shake {
  0% {
    -webkit-transform: translate(-0.05333rem);
            transform: translate(-0.05333rem); }
  100% {
    -webkit-transform: translate(0.05333rem);
            transform: translate(0.05333rem); } }

.wrap {
  width: 9.2rem;
  height: 9.2rem;
  margin: auto;
  background: -webkit-radial-gradient(#3c1c01 58%, #b76620 66%, #150a00 75%);
  position: relative;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0.4rem 0.04rem #000;
          box-shadow: 0 0 0.4rem 0.04rem #000;
  margin-top: 1.6rem; }
.playing .wrap {
  animation: shake .1s infinite ease-in-out alternate;
}
.animate .wrap {
  -webkit-animation: shake .05s infinite ease-in-out alternate;
          animation: shake .05s infinite ease-in-out alternate; }

.frame {
  width: 8.133333rem;
  height: 8.133333rem;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0.733333rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background: -webkit-radial-gradient(#ec99ff 50%, #c100ff 70%); }

.circle {
  width: 6.666667rem;
  height: 6.666667rem;
  position: relative;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all 5s cubic-bezier(.68,.01,.13,1);
  transition: all 5s cubic-bezier(.68,.01,.13,1);
  -webkit-box-shadow: 0 0 0.4rem 0px #7d3d00;
          box-shadow: 0 0 0.4rem 0px #7d3d00; }

.circle p {
  width: 0;
  height: 0;
  border: 1.380667rem #ccc solid;
  border-top-width: 3.333333rem;
  border-color: #ffbc20 transparent transparent transparent;
  position: absolute;
  z-index: 1;
  left: 1.952666rem;
  -webkit-transform-origin: 1.380667rem 3.333333rem;
      -ms-transform-origin: 1.380667rem 3.333333rem;
          transform-origin: 1.380667rem 3.333333rem; }

.circle p.light {
  border-top-color: #ffe226; }

.circle p:nth-child(even) {
  /*border-color:#f9c735 transparent transparent transparent;*/ }

.circle span {
  position: absolute;
  left: 50%;
  font-size: 0.346667rem;
  top: -2.533333rem;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%); }

.button {
  position: absolute;
  width: 1.733333rem;
  height: 1.733333rem;
  font-size: 0.4rem;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  right: 0;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.button button {
  width: 1.733333rem;
  height: 1.733333rem;
  font-size: 0.4rem;
  background: -webkit-radial-gradient(#fbc575, #f50);
  border-radius: 50%;
  line-height: 1.466667rem;
  border: 0.133333rem #fff solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  -webkit-animation: button 2s infinite alternate;
          animation: button 2s infinite alternate; }

@-webkit-keyframes white {
  0% {
    -webkit-box-shadow: 0 0 1.066667rem 0 #fff;
            box-shadow: 0 0 1.066667rem 0 #fff; }
  70% {
    -webkit-box-shadow: 0 0 1.066667rem 4.0rem #fff;
            box-shadow: 0 0 1.066667rem 4.0rem #fff; }
  100% {
    -webkit-box-shadow: 0 0 1.066667rem 0 #fff;
            box-shadow: 0 0 1.066667rem 0 #fff; } }

@keyframes white {
  0% {
    -webkit-box-shadow: 0 0 1.066667rem 0 #fff;
            box-shadow: 0 0 1.066667rem 0 #fff; }
  70% {
    -webkit-box-shadow: 0 0 1.066667rem 4.0rem #fff;
            box-shadow: 0 0 1.066667rem 4.0rem #fff; }
  100% {
    -webkit-box-shadow: 0 0 1.066667rem 0 #fff;
            box-shadow: 0 0 1.066667rem 0 #fff; } }

mark.white {
  position: absolute;
  width: 2px;
  height: 1px;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  /*transition:all 1s ease-in;*/
  z-index: 4; }

.playing mark.white {
  -webkit-animation: white 4s cubic-bezier(.68,.01,.13,1);
          animation: white 4s cubic-bezier(.68,.01,.13,1);
  /*transition:all 1s ease-out;
  box-shadow: 0 0 1.066667rem 5.0rem #fff;*/ }

.button p {
  position: absolute;
  width: 0;
  height: 0;
  border: 0.186667rem #ccc solid;
  border-color: transparent transparent #ff1302 transparent;
  border-bottom-width: 1.466667rem;
  top: -1.2rem;
  left: 0.666667rem;
  z-index: -1; }

@-webkit-keyframes bubbles1 {
  50%{background: -webkit-radial-gradient(#ffc063, #ff8d00);}
  100% {
    background: -webkit-radial-gradient(#ff9800, #fff); } }

@keyframes bubbles1 {
  50%{background: -webkit-radial-gradient(#ffc063, #ff8d00);}
  100% {
    background: -webkit-radial-gradient(#ff9800, #fff); } }

@-webkit-keyframes bubbles2 {
  50%{background: -webkit-radial-gradient(#ff7aee, #ff1ee2);}
  100% {
    background: -webkit-radial-gradient(#ff00df, #fff); } }

@keyframes bubbles2 {
  50%{background: -webkit-radial-gradient(#ff7aee, #ff1ee2);}
  100% {
    background: -webkit-radial-gradient(#ff00df, #fff); } }

@-webkit-keyframes bubbles3 {
  50%{background: -webkit-radial-gradient(#78ff40, #4ce80c);}
  100% {
    background: -webkit-radial-gradient(#4aff00, #fff); } }

@keyframes bubbles3 {
  50%{background: -webkit-radial-gradient(#78ff40, #4ce80c);}
  100% {
    background: -webkit-radial-gradient(#4aff00, #fff); } }

.bubbles span {
  display: block;
  position: absolute;
  width: 0.346667rem;
  height: 0.346667rem;
  border-radius: 50%;
  background: -webkit-radial-gradient(#ffc063, #ff8d00);
  left: 0;
  right: 0;
  margin: auto;
  top: 0.066667rem;
  -webkit-transform-origin: 0.173333rem 4.533333rem;
      -ms-transform-origin: 0.173333rem 4.533333rem;
          transform-origin: 0.173333rem 4.533333rem; }

.bubbles span:nth-child(2) {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }

.bubbles span:nth-child(3) {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }

.bubbles span:nth-child(4) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }

.bubbles span:nth-child(5) {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }

.bubbles span:nth-child(6) {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }

.bubbles span:nth-child(7) {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.bubbles span:nth-child(8) {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }

.bubbles span:nth-child(9) {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }

.bubbles span:nth-child(10) {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }

.bubbles span:nth-child(11) {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }

.bubbles span:nth-child(12) {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }

.bubbles span:nth-child(n) {
  -webkit-animation: bubbles1 1s infinite;
          animation: bubbles1 1s infinite; }

.bubbles span:nth-child(2n) {
  background: -webkit-radial-gradient(#ff7aee, #ff1ee2);
  -webkit-animation: bubbles2 1s .3s infinite;
          animation: bubbles2 1s .3s infinite; }

.bubbles span:nth-child(3n) {
  background: -webkit-radial-gradient(#78ff40, #4ce80c);
  -webkit-animation: bubbles3 1s .6s infinite;
          animation: bubbles3 1s .6s infinite; }

.playing .bubbles span {
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.dialog {
  position: fixed;
  top: 4.4rem;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  display: none;
  z-index: 99;
  width: 5.866667rem;
  height: 3.6rem;
  background: #fff;
  border-radius: 0.333333rem;
  padding: 0.533333rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center; }

.dialog p {
  font-size: 0.346667rem;
  line-height: 0.4rem;
  text-align: center; }

.dialog button {
  width: 2.666667rem;
  height: 1.066667rem;
  background: #69da2c;
  border: none;
  border-radius: 0.133333rem;
  text-align: center;
  margin-top: 1.066667rem;
  font-size: 0.373333rem;
  color: #fff; }

@-webkit-keyframes show {
  0% {
    -webkit-transform: translate(-50%) scale(0);
            transform: translate(-50%) scale(0); }
  90% {
    -webkit-transform: translate(-50%) scale(1.4);
            transform: translate(-50%) scale(1.4); }
  100% {
    -webkit-transform: translate(-50%) scale(1);
            transform: translate(-50%) scale(1); } }

@keyframes show {
  0% {
    -webkit-transform: translate(-50%) scale(0);
            transform: translate(-50%) scale(0); }
  90% {
    -webkit-transform: translate(-50%) scale(1.4);
            transform: translate(-50%) scale(1.4); }
  100% {
    -webkit-transform: translate(-50%) scale(1);
            transform: translate(-50%) scale(1); } }

@-webkit-keyframes hide {
  0% {
    -webkit-transform: translate(-50%) scale(1);
            transform: translate(-50%) scale(1); }
  10% {
    -webkit-transform: translate(-50%) scale(1.4);
            transform: translate(-50%) scale(1.4); }
  99% {
    -webkit-transform: translate(-50%) scale(0);
            transform: translate(-50%) scale(0); }
  100% {
    -webkit-transform: translate(-50%) scale(0);
            transform: translate(-50%) scale(0);
    display: none; } }

@keyframes hide {
  0% {
    -webkit-transform: translate(-50%) scale(1);
            transform: translate(-50%) scale(1); }
  10% {
    -webkit-transform: translate(-50%) scale(1.4);
            transform: translate(-50%) scale(1.4); }
  99% {
    -webkit-transform: translate(-50%) scale(0);
            transform: translate(-50%) scale(0); }
  100% {
    -webkit-transform: translate(-50%) scale(0);
            transform: translate(-50%) scale(0);
    display: none; } }

.dialog.show {
  display: block;
  -webkit-animation: show .3s ease-out forwards;
          animation: show .3s ease-out forwards; }

.dialog.hide {
  display: block;
  -webkit-animation: hide .5s forwards;
          animation: hide .5s forwards; }
